/************************************** Server Discovery ***************************************/

/* Background/Header */
.theme-dark .pageWrapper-1PgVDX {
	background-color: #111111;
}
.pageWrapper-1PgVDX .scroller-1d5FgU::-webkit-scrollbar-thumb {
	background-color: #191919;
	border: 5px solid #111111;
}
.pageWrapper-1PgVDX .scroller-1d5FgU::-webkit-scrollbar-track-piece {
	background-color: #111111;
}
/* Searchbar */
.pageWrapper-1PgVDX .input-cIJ7To,
.pageWrapper-1PgVDX .searchBox-2_mAlO {
	background-color: #111111;
}
.pageWrapper-1PgVDX .searchBox-2_mAlO .searchBoxInput-K6mkng {
	color: #FFFFFF;
}
.pageWrapper-1PgVDX .searchBox-2_mAlO .searchIcon-6ljH-4,
.pageWrapper-1PgVDX .searchBox-2_mAlO .closeIcon-2WLZc1 {
	color: #A5A5A5;
}
.pageWrapper-1PgVDX .search-1iTphC .searchBox-2_mAlO:focus, 
.pageWrapper-1PgVDX .search-1iTphC .searchBox-2_mAlO:focus-within {
	box-shadow: none;
}

/* Sidebar */
.content-98HsJk .sidebar-2K8pFh .discoverHeader-1TWTqG {
	background-color: #111111;
	padding: 8px 16px 8px 16px;
	margin: 0px;
}
.content-98HsJk .sidebar-2K8pFh .scrollerBase-289Jih {
	margin-right: -8px;
}
.content-98HsJk .sidebar-2K8pFh .categoryItem-3zFJns {
	padding: 0px;
	margin-left: 0px;
}
.content-98HsJk .sidebar-2K8pFh .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
	background-color: #111111;
	border-radius: 4px 0px 0px 4px;
}
.content-98HsJk .sidebar-2K8pFh .clickable-1JJAn8:hover .layout-2DM8Md {
	background-color: #141414;
	border-radius: 4px 0px 0px 4px;
}

/* Server Cards */
.guildListSection-2CS8vH .card-3DjzTQ,
.guildListSection-2CS8vH .card-3DjzTQ:hover,
.guildListSection-2CS8vH .card-3DjzTQ .iconMask-3b8GzQ,
.guildListSection-2CS8vH .card-3DjzTQ:hover .iconMask-3b8GzQ {
	background-color: #191919;
}
.guildListSection-2CS8vH .flowerStar-1GeTsn {
	filter: hue-rotate(-10deg) saturate(2);
}
.guildListSection-2CS8vH .spinner-3lb-NU {
	background-color: #3A71C1;
}

/* Search Page */
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO,
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng,
.searchPage-3GKAdT .css-1b86x2o-control,
.searchPage-3GKAdT .css-1o55ng5-control,
.searchPage-3GKAdT .css-12o7ek3-option,
.searchPage-3GKAdT .css-1gnr91b-option {
	background-color: #1C1C1C;
	border: none;
}
.searchPage-3GKAdT .css-1ye7vu0 {
	background-color: #161616;
}
.categoryPill-34fszg.selected-1dONk0 {
	background-color: #3A71C1;
}
.categoryPill-34fszg .categoryLabel-2G3r2V {
	color: #A5A5A5;
}
.emojiContainer-1u-_sQ {
	background-color: #1C1C1C;
}

/**********************************************************************************************/

/* Main Background */
body {
	background-color: #111111 !important;
}
.layers-3iHuyZ {
	background-color: #1B1B1B;
}
/* Discord Crashed Background */
.wrapper-1prNyd {
	background: #111111;
}
/* Remove Corner Rounding */
.app-19_DXt .base-3dtUhz {
	border-radius: 0px;
}
/* Connecting/Reconnecting Loading Screen */
.container-16j22k {
	background: hsla(0,0%,5%,0.90) !important;
}

/* Modal Background Darkening */
.backdrop-1wrmKB {
	opacity: 0.7 !important;
}

/* Link Colors */
.app a {
	color: #FFFFFF;
}
.standardSidebarView-3F1I7i .side-8zPYf6 a {
	color: #3A71C1;
}

/* Loading Spinner */
.inner-1gJC7_, .spinner-inner {
	filter: grayscale(1);
}

/* Discord Login Box */
.authBox-hW6HRx {
	background-color: #262626 !important;
}

/* Repo Plugins Loading Icon */
.loadingIconWrapper-PsVJ9m {
	filter: hue-rotate(-10deg) brightness(0.5) contrast(1.2);
	pointer-events: none;
}

/* BetterDiscord Startup Plugin/Theme Issues Window */
.bd-modal-wrapper .bd-modal-body {
	background-color: #191919;
}
.bd-modal-wrapper .header {
	background-color: #111111;
}
.bd-modal-wrapper .footer {
	background-color: #161616;
}
.bd-modal-wrapper .bd-modal-inner, 
.bd-modal-wrapper .table-header {
	border: none;
}
.bd-modal-wrapper .scroller {
	padding: 0px;
}

/* BetterDiscord Plugin Popup Notices */
.bd-toast, .toast {
	background-color: #191919 !important;
	opacity: 0.8;
}
.bd-toast.toast-success.icon,
.toast.toast-success {
	background-color: #3A71C1 !important;
}

/* BetterDiscord Plugin Update Notice Bar */
#pluginNotice {
	background-color: #121212;
	color: #FFFFFF;
}

/* Notice Bar */
.notice-2FJMB4 {
	box-shadow: inset 0px -1px 10px -1px rgba(18,18,18,0.7);
}
/* Server Lurking Notice Bar */
.theme-dark .notice-2X5hT5 {
	background-color: #121212;
}

/* BetterDiscord Sub Menu: Theme Version */
.sidebar-CFHs9e .info-1VyQPT:after {
	font-size: 12px;
	color: #72767C;
	content: var(--Settings-Theme-Version);
}
.bd-social-logo {
	opacity: .65;
	filter: grayscale(1);
}
