
/*************************************** Profile Modal **************************************/

/* User Profile: Header */
.modal-3c3bKg .header-QKLPzZ {
	padding: 0px 16px 0px 0px;
}
.modal-3c3bKg .activity-1ythUs {
	padding: 16px 10px 20px 20px;
	min-height: 73px;
}
/* User Profile: Header Background */
.modal-3c3bKg .topSectionNormal-2-vo2m {
	background-color: #191919;
	box-shadow: inset 0px 2px 28px 6px rgba(0,0,0,0.2);
}
.modal-3c3bKg .topSectionPlaying-1J5E4n {
	background-color: #39567F;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P {
	background-color: #1E6E3A;
}
.modal-3c3bKg .topSectionXbox-3fWLjS {
	background-color: #1A471A;
}
.modal-3c3bKg .topSectionStreaming-1Tpf5X {
	background-color: #3B2463;
}

/* User Profile Picture/Avatar */
.modal-3c3bKg .profile-ZOdGIb .image-33JSyf,
.modal-3c3bKg .avatar-3EQepX {
	width: 180px !important;
	height: 180px !important;
	border-radius: 4px 0px 0px 0px;
}
.modal-3c3bKg .avatar-3EQepX {
	background-color: rgba(0,0,0,0.05);
}

/* User Name */
.modal-3c3bKg .header-QKLPzZ .username-3gJmXY {
	font-size: 30px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.5);
	overflow: visible;
	line-height: 30px;
}
.modal-3c3bKg .headerInfo-30uryT {
	margin-bottom: 8px;
}
.modal-3c3bKg .header-QKLPzZ .nameTag-2IFDfL {
	padding-right: 0px;
	margin-right: -150px;
	max-width: 385px;
	overflow: visible;
}
/* User #ID Discriminator */
.modal-3c3bKg .header-QKLPzZ .nameTag-2IFDfL .discriminator-xUhQkU {
	text-shadow: -1px 2px 2px rgba(0,0,0,0.5);
	margin-bottom: -10px;
}
/* User Badges */
.modal-3c3bKg .profileBadges-2vWUYb {
	margin-top: 0px;
}

/* User Profile: Playing A Game On Xbox Live */
.modal-3c3bKg .topSectionXbox-3fWLjS .xboxAssets-aGhVw8 {
	flex: 0 !important;
}
.modal-3c3bKg .topSectionXbox-3fWLjS .assetsLargeImageProfileXbox-1t6G2m[src="/assets/d8e257d7526932dcf7f88e8816a49b30.png"] {
	content: url(https://discordapp.com/assets/850ed4fcf5839b7a32651f5959e8511e.png);
	filter: drop-shadow(-1px 2px 1px #161616);
	margin-left: -4px;
}
.modal-3c3bKg .topSectionXbox-3fWLjS .contentGameImageProfile-WTVbI0 {
	margin-bottom: -4px;
	margin-left: 4px;
}
.modal-3c3bKg .topSectionXbox-3fWLjS .marginBottom8-AtZOdT {
	margin-bottom: -3px !important;
}
/* Connect Xbox Live Button */
.modal-3c3bKg .topSectionXbox-3fWLjS .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	margin-top: -14px;
	margin-right: 2px;
	min-height: 24px;
	height: 24px;
	padding: 0px;
	border: none;
	border-bottom: 1px solid transparent;
	border-radius: 0px;
	filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));
}
.modal-3c3bKg .topSectionXbox-3fWLjS .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
	border-bottom: 1px solid #CCCCCC;
}

/* User Profile: Listening To Spotify */
.modal-3c3bKg .topSectionSpotify-1lI0-P .timeBarProfile-10b-fm {
	margin-top: 7px;
	max-width: 500px;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .timeBarProfile-10b-fm .text-AOoUen {
	filter: drop-shadow(0px 1px 1px #191919);
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .bar-3urHkF {
	background-color: rgba(10,40,20,.2);
}
/* User Profile: Spotify Buttons */
.modal-3c3bKg .topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru {
	margin-left: 6px;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	position: absolute;
	min-height: 24px;
	height: 24px;
	width: 126px;
	margin-left: -134px;
	border-radius: 0px;
	border-color: transparent;
	filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .lookOutlined-3sRXeN .contents-18-Yxp {
	overflow: visible;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
	border-bottom: 1px solid #CCCCCC;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .button-1Pkqso:not(:first-child) {
	margin-left: -170px;
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .listenAlongIcon-2vb1HG {
	width: 22px;
	height: 22px;
}

/* Additional Options Button */
.modal-3c3bKg .header-QKLPzZ .additionalActionsIcon-1FoUlE {
	margin: -80px 0px 0px -10px;
	position: absolute;
	color: #FFFFFF;
	filter: drop-shadow(-1px 2px 0px rgba(0,0,0,0.3));
	z-index: 1;
}
.modal-3c3bKg .header-QKLPzZ .additionalActionsIcon-1FoUlE:hover {
	filter: brightness(2) drop-shadow(-1px 2px 0px rgba(0,0,0,0.3));
}
/* Send Friend Request/Message Button */
.modal-3c3bKg .header-QKLPzZ .lookFilled-1Gx00P.colorGrey-2DXtkV, 
.modal-3c3bKg .header-QKLPzZ .lookFilled-1Gx00P.colorGreen-29iAKY, 
.modal-3c3bKg .header-QKLPzZ .lookInverted-2D7oAl {
	background-color: transparent;
	border: 1px solid transparent;
	color: #E5E5E5;
	filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.3));
	top: -70px;
	left: -13px;
	padding: 0px;
	height: 22px;
	min-height: 22px;
	min-width: 24px;
}
.modal-3c3bKg .header-QKLPzZ .lookFilled-1Gx00P.colorGrey-2DXtkV:hover, 
.modal-3c3bKg .header-QKLPzZ:hover .lookFilled-1Gx00P.colorGreen-29iAKY:hover, 
.modal-3c3bKg .header-QKLPzZ .lookInverted-2D7oAl:hover {
	background-color: transparent;
	border-bottom: 1px solid #A5A5A5;
	filter: drop-shadow(-1px 1px 1px rgba(0,0,0,0.3));
	border-radius: 0px;
}

/* Game Text/Description Margin */
.modal-3c3bKg .activity-1ythUs .textRow-19NEd_,
.modal-3c3bKg .activity-1ythUs .state-Tt0LO3, 
.modal-3c3bKg .activity-1ythUs .details-38sfDr,
.modal-3c3bKg .activity-1ythUs .timestamp-VjAZmo, 
.modal-3c3bKg .activity-1ythUs .playTime-2uWd1Z {
	color: #CCCCCC;
	font-size: 13px;
	line-height: 16px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
	margin-bottom: 0px;
}
.modal-3c3bKg .activityProfile-2bJRaP .marginBottom8-AtZOdT {
	margin-bottom: 3px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
}
.modal-3c3bKg .activityProfile-2bJRaP .activityName-1IaRLn {
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
}
.modal-3c3bKg .topSectionSpotify-1lI0-P .activity-1ythUs .textRow-19NEd_ .activityName-1IaRLn {
	color: #FFFFFF;
}
.modal-3c3bKg .contentImagesProfile-1Mz07W {
	margin-left: 10px;
}
/* Game Icon: Rich Presence */
.modal-3c3bKg .topSectionPlaying-1J5E4n .activity-1ythUs .assetsLargeImageProfile-3YXDex {
	background-color: transparent;
	height: 60px;
	width: 60px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .activity-1ythUs .assetsSmallImageProfile-3JcsV1 {
	height: 20px;
	width: 20px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .assetsLargeMaskProfile-1Qkfen {
	-webkit-mask: url(https://discordapp.com/assets/3a10988d0f55c63294100b270818207a.svg);
}
/* Game Icon: No Rich Presence */
.modal-3c3bKg .topSectionPlaying-1J5E4n .medium-2wqF9d.gameIcon-_0rmMm {
	background-color: transparent;
	height: 50px;
	width: 50px;
}

/* User Profile Header Tab Buttons */
.modal-3c3bKg .tabBarContainer-1s1u-z {
	margin: -28px 0px -2px 179px;
	border-top: none;
}
.modal-3c3bKg .tabBarContainer-1s1u-z .top-28JiJ- {
	height: 30px;
}
.modal-3c3bKg .tabBarContainer-1s1u-z .top-28JiJ- .item-PXvHYJ {
	margin-right: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
}
.modal-3c3bKg .tabBarContainer-1s1u-z .top-28JiJ- .item-PXvHYJ[style*="color: rgba(255, 255, 255, 0.4)"] {
	color: #E5E5E5 !important;
}
.modal-3c3bKg .tabBarContainer-1s1u-z .top-28JiJ- .item-PXvHYJ:hover {
	color: #CCCCCC !important;
	border-bottom: 2px solid #A5A5A5 !important;
}

/* User Profile: Spectate, Ask to Join, View In Store Button */
.modal-3c3bKg .topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	color: #E5E5E5;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: 0px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
	padding: 0px;
	height: 26px;
	min-width: 64px;
	transition: none;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover,
.modal-3c3bKg .topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
	color: #CCCCCC;
	border-bottom: 2px solid #A5A5A5;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ:active,
.modal-3c3bKg .topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ:active {
	background-color: transparent;
}
/* User Profile: Watch Stream + Ask to Join: Margins Fix */
.modal-3c3bKg .topSectionPlaying-1J5E4n .body-ZAhrcj {
	height: 69px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX {
	margin-top: 70px;
	margin-right: 23px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX :nth-child(1) button {
	margin-top: 12px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX :nth-child(2) button {
	margin-top: 26px;
	margin-bottom: 28px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .listeningActionsProfile-1fYwru {
	margin: 0px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-1QS4n- .buttonSize-2Pmk-w {
	min-height: 26px;
	height: 26px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .disabledButtonWrapper-3wH6-b {
	margin-top: -12px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .disabledButtonOverlay-2DA5FI {
	pointer-events: none;
}

/* User Profile: Watch Stream Icon */
.modal-3c3bKg .topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ .contents-18-Yxp .streamIcon-c3V0JT {
	margin-right: -20px;
	float: right;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ .contents-18-Yxp {
	overflow: visible;
}
/* User Profile: Watch Twitch Stream Button */
.modal-3c3bKg .topSectionStreaming-1Tpf5X .bodyNormal-2D39hT {
	height: 98px;
}
.modal-3c3bKg .topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	color: #E5E5E5;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: 0px;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.3);
	padding: 0px;
	left: -68px;
	margin-top: 10px;
	margin-bottom: -57px;
	max-height: 26px;
	min-height: 26px;
	transition: none;
}

/* Custom Activity Text */
.modal-3c3bKg .activity-1ythUs .customStatus-154i-H {
	color: #FFFFFF;
	text-shadow: -1px 2px 1px rgba(0,0,0,0.3);
	font-size: 14px;
}
.modal-3c3bKg .activity-1ythUs .activityHeader-1PExlk {
	text-shadow: -1px 2px 1px rgba(0,0,0,0.3);
}
.modal-3c3bKg .topSectionNormal-2-vo2m .activity-1ythUs {
	position: absolute;
	top: 104px;
	left: 180px;
}
.modal-3c3bKg .topSectionNormal-2-vo2m .customStatus-154i-H .customStatusEmoji-3BvdMX.customStatusSoloEmoji-192Z_4 {
	width: 26px;
	height: 26px;
}
.modal-3c3bKg .topSectionNormal-2-vo2m .activity-1ythUs .activityHeader-1PExlk {
	display: none;
}
.modal-3c3bKg .activity-1ythUs+.activity-1ythUs {
	margin-top: -24px;
}

/* BOT Tag */
.modal-3c3bKg .header-QKLPzZ .botTag-ymWxY6 {
	text-shadow: -1px 1px 1px #0F0F0F;
	top: 2px;
}
/* Badge Hover */
.profileBadgeHypesquad-1YIe7Z:hover,
.profileBadgeHypeSquadOnlineHouse1-xN6tES:hover,
.profileBadgeHypeSquadOnlineHouse2-3jBpXR:hover,
.profileBadgeHypeSquadOnlineHouse3-1YbjMX:hover,
.profileBadgePremium-3kZ9Qj:hover,
.profileBadgePartner-SjK6L2:hover,
.profileBadgeStaff-13GO7z:hover,
.profileBadgeBugHunter-IV0vLE:hover,
.profileBadgeEarlySupporter-PQB_0a:hover,
.profileGuildSubscriberlvl1-pKd1EZ:hover,
.profileGuildSubscriberlvl2-1aIFve:hover,
.profileGuildSubscriberlvl3-33AROf:hover,
.profileGuildSubscriberlvl4-2yY8EG:hover,
.profileGuildSubscriberlvl5-1mIKQ8:hover,
.profileGuildSubscriberlvl6-2tCBLE:hover,
.profileBadgeVerifiedDeveloper-4WY75k:hover {
	transform: scale(1.1);
}
/* Badge Shadows */
.profileBadgeHypesquad-1YIe7Z,
.profileBadgePremium-3kZ9Qj,
.profileBadgePartner-SjK6L2,
.profileBadgeStaff-13GO7z,
.profileBadgeBugHunter-IV0vLE,
.profileBadgeEarlySupporter-PQB_0a,
.profileGuildSubscriberlvl1-pKd1EZ,
.profileGuildSubscriberlvl2-1aIFve,
.profileGuildSubscriberlvl3-33AROf,
.profileGuildSubscriberlvl4-2yY8EG,
.profileGuildSubscriberlvl5-1mIKQ8,
.profileGuildSubscriberlvl6-2tCBLE,
.profileBadgeVerifiedDeveloper-4WY75k {
	filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.4));
}
.profileBadgePremium-3kZ9Qj {
	margin: 0 -1px 0 -1px;

}

/* User Badges: No Monochrome */
.profileBadgeHypesquad-1YIe7Z {
	/* background-image: url(https://discordapp.com/assets/17ebd99540a6e983bade13c3afff7946.svg); */
	background-image: url(https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg);
}
.profileBadgeHypeSquadOnlineHouse1-xN6tES {
	/* background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg); */
	background-image: url(https://discordapp.com/assets/17ebd99540a6e983bade13c3afff7946.svg) !important;
	filter: hue-rotate(208deg) saturate(4) drop-shadow(-1px 2px 1px rgba(0,0,0,0.4));
}
.profileBadgeHypeSquadOnlineHouse2-3jBpXR {
	/* background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg); */
	background-image: url(https://discordapp.com/assets/17ebd99540a6e983bade13c3afff7946.svg) !important;
	filter: hue-rotate(-40deg) saturate(1.5) drop-shadow(-1px 2px 1px rgba(0,0,0,0.4));
}
.profileBadgeHypeSquadOnlineHouse3-1YbjMX {
	/* background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg); */
	background-image: url(https://discordapp.com/assets/17ebd99540a6e983bade13c3afff7946.svg) !important;
	filter: hue-rotate(120deg) drop-shadow(-1px 2px 1px rgba(0,0,0,0.4));
}
.profileBadgePremium-3kZ9Qj {
	background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg);
}
.profileBadgePartner-SjK6L2 {
	background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg) !important;
}
.profileBadgeStaff-13GO7z {
	background-image: url(https://discordapp.com/assets/4358ad1fb423b346324516453750f569.svg);
}
.profileBadgeBugHunterLevel1-3oBv8Z {
	background-image: url(https://discordapp.com/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
}
.profileBadgeBugHunterLevel2-3tFzet {
	background-image: url(https://discordapp.com/assets/9286332d6e947c91fa91569efce431b0.svg);
}
.profileBadgeEarlySupporter-PQB_0a {
	background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg);
}
.profileBadgeVerifiedDeveloper-4WY75k {
	background-image: url(https://discordapp.com/assets/45cd06af582dcd3c6b79370b4e3630de.svg);
}
.profileGuildSubscriberlvl1-pKd1EZ {
	background-image: url(https://discordapp.com/assets/7dc50a46914f03a1c6698133199ad39c.svg);
	height: 26px;
}
.profileGuildSubscriberlvl2-1aIFve {
	background-image: url(https://discordapp.com/assets/dc286bc95cdbd592bb7e60ee40941be2.svg);
	height: 26px;
}
.profileGuildSubscriberlvl3-33AROf {
	background-image: url(https://discordapp.com/assets/307d418c2462234eee59151dca9b92e8.svg);
	height: 26px;
}
.profileGuildSubscriberlvl4-2yY8EG {
	background-image: url(https://discordapp.com/assets/ac20c019c11f36fb22b4ce13725a1aff.svg);
	height: 26px;
}
.profileGuildSubscriberlvl5-1mIKQ8 {
	background-image: url(https://discordapp.com/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg);
	height: 26px;
}
.profileGuildSubscriberlvl6-2tCBLE {
	background-image: url(https://discordapp.com/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg);
	height: 26px;
}
.profileGuildSubscriberlvl7-3M0RQX {
	background-image: url(https://discordapp.com/assets/5a24b20b84fb3eafc138916729386e76.svg);
	height: 26px;
}
.profileGuildSubscriberlvl8-2ot52H {
	background-image: url(https://discordapp.com/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg);
	height: 26px;
}
.profileGuildSubscriberlvl9-1qrrRa {
	background-image: url(https://discordapp.com/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg);
	height: 26px;
}
/* Hypesquad Golden House */
.colorMonochrome-2HSrbw .badgePolygon-349aCR {
	fill: #FFD56C;
	fill-opacity: 1;
}
.colorNormal-2GnAtv .badgePolygon-349aCR {
	fill: #FFD56C;
}
.colorMonochrome-2HSrbw,
.colorNormal-2GnAtv {
	filter: drop-shadow(-1px 2px 0px #070707);
}
.colorMonochrome-2HSrbw:hover,
.colorNormal-2GnAtv:hover {
	transform: scale(1.1);
}

/* User CreationDate & JoinedAtDate Plugin */
.modal-3c3bKg .creationDate {
	text-shadow: -1px 2px 2px #070707;
	margin: 2px 0px 0px;
}
.modal-3c3bKg .joinedAtDate {
	text-shadow: -1px 2px 2px #070707;
	margin: 6px 0px -2px;
}

/* User Profile: Body/Footer */
.modal-3c3bKg .body-3ND3kc {
	background-color: #232323;
	min-height: 334px;
	height: auto;
}
.modal-3c3bKg .root-SR8cQa {
	width: 610px;
}
/* User Profile: Body/Footer Description */
.modal-3c3bKg .body-3ND3kc .userInfoSection-2acyCx {
	border-top: none;
	margin: -7px 20px 10px 30px;
}
/* User Note */
.modal-3c3bKg .userInfoSectionHeader-CBvMDh {
	color: #E5E5E5;
	font-size: 13px;
	margin-bottom: 6px;
}
.modal-3c3bKg .note-QfFU8y textarea,
.modal-3c3bKg .note-QfFU8y textarea:hover,
.modal-3c3bKg .note-QfFU8y textarea:focus {
	background-color: transparent;
	color: #CCCCCC;
}
.modal-3c3bKg .note-QfFU8y textarea::placeholder {
	color: #A5A5A5;
}
/* User Info Connections Boxes */
.modal-3c3bKg .infoScroller-3EYYns {
	padding: 0px;
}
.modal-3c3bKg .connectedAccount-36nQx7 {
	background-color: #161616;
	border: none;
	margin-bottom: -12px;
}
.modal-3c3bKg .connectedAccounts-repVzS {
	margin-top: -50px;
}
.modal-3c3bKg .connectedAccountName-f8AEe2 {
	color: #FFFFFF;
}
.modal-3c3bKg .connectedAccount-36nQx7:hover {
	filter: brightness(1.15);
}
/* User Info Connection: Verified Icon */
.modal-3c3bKg .connectedAccountVerifiedIcon-3aZz_K {
	filter: invert(1) brightness(1.5);
}
/* User Info Connections: Link Button */
.modal-3c3bKg .connectedAccount-36nQx7 .connectedAccountOpenIcon-2cNbq5 {
	filter: grayscale(1) brightness(2);
}

/* Mutual Servers/Friends List */
.modal-3c3bKg .listScroller-2_vlfo {
	padding: 0px;
}
.modal-3c3bKg .listRow-hutiT_ {
	padding: 4px 8px;
	margin: 0px;
}
.modal-3c3bKg .listRow-hutiT_:hover {
	background: linear-gradient(to right,#1C1C1C,#1C1C1C,transparent,transparent,transparent);
	border-radius: 0px;
}
.modal-3c3bKg .listAvatar-1NlAhb {
	filter: drop-shadow(-1px 1px 3px #1C1C1C);
	margin: 1px 8px 1px 4px;
}
.modal-3c3bKg .listName-3w10cx {
	color: #E5E5E5;
	text-shadow: 0px 1px 2px #1C1C1C;
}
.modal-3c3bKg .guildNick-3uAm3i {
	color: #8C8C8C;
	text-shadow: 0px 1px 2px #212121;
}
/* User Online Status Icon */
.modal-3c3bKg .listAvatar-1NlAhb .status-oxiHuE {
	border: 2px solid #232323;
	margin: -2px;
}
/* Empty Server Icon */
.modal-3c3bKg .guildAvatarWithoutIcon-1sTmE_ {
	background-color: #2F3136;
}
/* Verified Server Icon */
.modal-3c3bKg .verified-1eC5dy,
.modal-3c3bKg .partnered-3nJayh {
	color: #3B88C3;
}
/* Mutual Friends/Server Empty Image */
.modal-3c3bKg .emptyIconFriends-BrjhY9, 
.modal-3c3bKg .emptyIconGuilds-3OViNh {
	filter: grayscale(0.4);
}
